* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

img {
    width: 100%;
}

/* COMMON */
.container {
    width: 80%;
    max-width: 1000px;
    min-width: 900px;
    margin: 0 auto;
}

.container2 {
    width: 70%;
    max-width: 900px;
    min-width: 800px;
    margin: 0 auto;
}

.dock30 {
    width: 30%;
}

.dock70 {
    width: 70%;
}

.card {
    width: calc(100% / 3 - 20px);
}

ul {
    list-style-type: none;
}

.btn {
    background-color: #0061FF ;
    color: white;
    padding: 1em;
    display: inline-block;
    line-height: normal;
}

.btn-gray {
    background-color: white;
    color: gray;
    padding: 1em;
    display: inline-block;
    line-height: normal;
    border: 1px solid gray;
    text-decoration: none;
}

.btn-white {
    background-color: white;
    padding: 1em;
    display: inline-block;
    line-height: normal;
    text-decoration: none;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

/* UTILITY */
.flex-container {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.alignitems-center {
    align-items: center;
}

.check::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00c";
    color: #0061FF;
}

.padding-top1 {
    padding-top: 1em;
}

.padding-top2 {
    padding-top: 2em;
}

.padding-top3 {
    padding-top: 3em;
}

/* UTILITY COLOR */
.color-gray {
    color: gray;
}

.border-green {
    border: 10px solid #D1E9CD;
}
.bg-green {
    background-color: #A2D39B;
}

.bg-bordeaux {
    background-color: #61082B;
}

.cl-bordeaux {
    color: #61082B;
}

.bg-bluesky {
    background-color: #0093CE;
}

.bg-red {
    background-color: #FF1C1C;
}

.bg-darkred {
    background-color: #D5001F;
}

.bg-lightsky {
    background-color: #B4D0E7;
}

.bg-blue {
    background-color: #0D2481;
}

.bg-yellow {
    background-color: #FFD830;
}

.bg-lightgray {
    background-color: #F5F5F5;
}

/* HEADER*/
.header {
    height: 80px;
    background-color: white;
}


header a {
    text-decoration: none;
    color: gray;
}

header ul li {
    display: inline-block;
}

.h_logo {
    align-content: center;
}

.menu {
    justify-content: space-between;
    line-height: 80px;
}

.menu li:not(:last-child) {
    margin-right: 2em;
}

/* MAIN */
.maintop {
    background-color: #B4D0E7;
    padding-top: 3em;
}

.jumbotron {
    max-height: 800px;
}

.jumbotron .dock30 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jumbotron h1 {
    margin-bottom: 1em;
}

.jumbotron p {
    margin-bottom: 2em;
}

.jumbotron a {
    text-decoration: none;
    margin-bottom: 3em;
}

.subscriptions {
    margin-top: 5em;
}

.fatturazione {
    margin: 3em 0px;
}

.plans {
    justify-content: space-between;
}

.plans .card {
    border: 1px solid gray;
}

.type {
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 10px;
}

.nameplan, .info, .included {
    padding: 1em;
}

.nameplan h4 {
    margin-bottom: 1em;
}

.info ul li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1em;
}

.info ul i {
    margin-right: 0.5em;
}

.info .btn {
    margin: 1em 0px 1em;
}

.info hr {
    width: 20%;
    margin-top: 2em;
}

.included h5 {
    margin-bottom: 1em;
}

.included ul li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1em;
}

.included ul span {
    margin-right: 0.5em;
}

/* CARD-ROW */
.card-row {
    width: 100%;
    border: 1px solid gray;
    margin-top: 2em;
}

.card-row .btn {
    margin-top: 1em;
}

/* PARTNER */
.partner {
    margin-top: 8em;
}

.partner .dock30 {
    padding: 2em;
}

.partner.dock30 p {
    padding: 2em 0;
}

/* BUSINESS */
.business {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2em;
}

.business h3 {
    margin-bottom: 2em;
}

.business .card {
    margin-top: 1em;
}

.big-text {
    min-height: 300px;
    margin: 5em 0px
}

.big-text h3 {
    font-size: 2.5em;
    margin-bottom: 1em;
}

.col {
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 50%;
    padding: 2em;
    align-items: center;
    align-items: stretch;
}

.square img {
    filter: invert(1);
    width: 90%;
}

.square-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2em
}

.square-center img {
    width: 60%;
}

.row .container2 {
    min-height: 300px;
    align-items: center;
}

.row h3 {
    font-size: 1.5em;
}

.row a {
    color: black;
}

.faq {
    padding: 8em;
}

.faq h3 {
    font-size: 2rem;
    margin-bottom: 1.2em;
}

.questions {
    margin: 2em 0px 2em;
}

/* FOOTER */
footer {
    width: 100%;
    height: 600px;
    padding-top: 80px;
    background-color: black;
    color: white;
}

.f_menu {
    display: flex;
    width: 100%;
}

.f_menu-col {
    width: calc(100% / 5);
    color: white;
}

.f_menu-col h4 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

.f_menu-col a {
    color: inherit;
    text-decoration: none;
}

.f_menu-col ul li {
    padding-bottom: 1em;
}

footer hr {
    width: 15%;
    margin: 3em 0px;
}

.lang {
    color: gray;
}

